.searchBox{
    flex: 1;
    display: flex;
    outline: none;
    align-items: center;
    background: #172837;
    border: none;
    width: 6.3rem; 
    margin-inline-start: 65rem;
}

.searchInput {
    background: #cbd1d6;
    outline: none;
    border-radius: 5px;
    border:none;
    width: inherit;
;

}

@media screen and (max-width: 1024px) {
    .searchBox {
        margin-inline-start: 45rem;
    }
  }

@media screen and (max-width: 800px) {
    .searchBox {
        margin-inline-start: 28rem;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .searchBox {
        margin-inline-start: 80px;
    }
  }

  